{% extends 'base.html.twig' %}

{% block title "Projet Shoes" %}

{% block stylesheets %}
    <link href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
